

<div class="page-container">
  <div class="image-container">
    <img src="<%= asset_path('signup-updated.png') %>" alt="Sign Up" class="overlay-image">
  </div>
  <div class="container signup-container">
      <h1 class="text-center mb-2 signup-header">Get Started Now</h1>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>

          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="row">
              <div class="col">
                <%= f.input :first_name,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "first_name", class: "signup-rounded-input" },
                            label_html: { class: "custom-label" },
                            placeholder: "Firstname",
                            wrapper_html: { class: "custom-signup-wrap" }  %>
              </div>
              <div class="col">
                <%= f.input :last_name,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "last_name", class: "signup-rounded-input" },
                            label_html: { class: "custom-label"  },
                            placeholder: "Lastname",
                            wrapper_html: { class: "custom-signup-wrap" } %>
              </div>
            </div>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: "signup-rounded-input" },
                        label_html: { class: "custom-label" },
                        placeholder: "📧 example@email.com",
                        wrapper_html: { class: "custom-signup-wrap" } %>
            <div class="row">
              <div class="col">
                <%= f.input :password,
                            required: true,
                            input_html: { autocomplete: "new-password", class: "signup-rounded-input" },
                            label_html: { class: "custom-label" },
                            placeholder: "🔑 Password" %>
              </div>
              <div class="col">
                <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password", class: "signup-rounded-input" },
                        label: "Retype Password",
                        placeholder: "🔑 Password",
                        label_html: { class: "custom-label" } %>
              </div>
            </div>
          </div>

          <div class="form-actions mb-4 text-center">
            <%= f.button :submit, "Sign up", class:"button-signup" %>
          </div>

        <% end %>

      <div class="text-center"><%= render "devise/shared/links" %></div>

      <div class="d-flex justify-content-center align-items-center">
        <div class="me-2 d-flex align-items-center">
          <button class="rectangle-left"></button>
        </div>
          <p class="text-center mt-3">Or continue with</p>
        <div class="ms-2 d-flex align-items-center">
          <button class="rectangle-right"></button>
        </div>
      </div>

      <div class="d-flex justify-content-center">
      <button class="me-3 external-sign"><i class="fa-brands fa-google"></i></button>
      <button class="me-3 external-sign"><i class="fa-brands fa-apple"></i></button>
      <button class="external-sign"><i class="fa-brands fa-facebook"></i></button>
      </div>
  </div>
</div>
