<div class="bg-white pt-5 d-flex flex-column vh-100">
  <h1 class="text-center mb-3">Knowledge is Power.</h1>

  <div class="img-overlay" data-controller="logo-fade">
    <div class="img-container">
      <img src="<%= asset_path('logotransparent.png') %>" width="180px" class="moving-img" alt="">
      <img src="<%= asset_path('logo-no-words.png') %>" width="180px" class="stationary-img" data-action="click->logo-fade#fade" alt="">
    </div>
  </div>

  <div class="pt-3 container">
    <div class="pitch text-center">
      <p><strong>Heading to an interview or a networking event? <span class="text-success">Don't fret.</span></strong></p>
      <p> InfoGenie is an AI-powered app that provides you with bite-sized info and news bits to prepare you for business situations. </p>
      <%= link_to 'Get a free account today!', cards_path, class: 'btn btn-primary tryforfree' %>
      <div class="demo-image" >
        <img src="<%= asset_path('indexpage.png') %>" width="110px" alt="indexpage">
        <img src="<%= asset_path('showpage.png') %>" width="110px" alt="showpage">
      </div>
    </div>
    <div class="d-flex justify-content-center bg-white">

      <img src="<%= asset_path('Backgroundgif.gif') %>" width="390" class="pe-none mt-3">

      <div class="homepage-lamp-container" data-controller="scroll-lamp" >
        <div class=" d-flex flex-column align-items-center mb-4 landing-wish" style="height: 550px;">
          <h5 class="text-center text-white mb-auto p-2">Make a wish by giving us a keyword and let us do the rest...</h5>
          <h4 class="text-white text-center p-2 landing-call"><i class="fa-solid fa-arrow-up" style="color: #ffffff;"></i></h4>
          <h4 class="text-white text-center p-2 landing-message" data-scroll-lamp-target="message">Rub the <strong>LAMP</strong> and make your wish!</h4>
        </div>
        <%= link_to cards_path do %>
          <img src="<%=asset_path('cutlamper.png') %>" alt="vidlamp" class="landing-lamp" data-scroll-lamp-target="lamp" >
        <% end %>
      </div>
    </div>
  </div>
</div>
