<div class="page-container">
  <div class="image-container">
    <img src="<%= asset_path('sign-in.png') %>" alt="Sign Up" class="overlay-image">
  </div>
    <div class="container px-5 bg-white">
      <h1 class="text-center mb-2 signup-header">Welcome Back!</h1>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        placeholder: "📧 example@email.com",
                        label_html: { class: "signin-label" },
                        input_html: { autocomplete: "email", class: "signin-rounded-inputs" } %>
            <%= f.input :password,
                        required: false,
                        label_html: { class: "signin-label" },
                        input_html: { autocomplete: "current-password", class: "signin-rounded-inputs" },
                        placeholder: "🔑 Password",
                        wrapper_html: { class: "custom-signin-wrap" } %>
            <div class="d-flex justify-content-between mb-2">
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              <div>
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Forgot password?", new_password_path(resource_name), class: "forgotpw-link" %><br />
                <% end %>
              </div>

            </div>
          </div>

          <div class="form-actions text-center mb-2">
            <%= f.button :submit, "Sign in", class:"button-signup" %>
          </div>
        <% end %>

      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <div class="me-2 d-flex align-items-center">
          <button class="rectangle-left"></button>
        </div>
          <p class="text-center mt-3">Or continue with</p>
        <div class="ms-2 d-flex align-items-center">
          <button class="rectangle-right"></button>
        </div>
      </div>

      <div class="d-flex justify-content-center pb-3">
      <button class="me-3 external-sign"><i class="fa-brands fa-google"></i></button>
      <button class="me-3 external-sign"><i class="fa-brands fa-apple"></i></button>
      <button class="external-sign"><i class="fa-brands fa-facebook"></i></button>
      </div>
    </div>
</div>
