
<h1><%= DateTime.now.strftime('%d-%B-%Y') %> News Update</h1>

<% @user.favourites.each do |favourite|  %>
  <div>

    <h2>Topic: <%= favourite.card.primary_keywords.capitalize %></h2>
      <ul>
        <li><%= link_to favourite.card.news_articles.uniq[favourite.card.news_articles.length - 3].title, card_url(favourite.card) %></li>
        <li><%= link_to favourite.card.news_articles.uniq[favourite.card.news_articles.length - 2].title, card_url(favourite.card) %></li>
        <li><%= link_to favourite.card.news_articles.uniq[favourite.card.news_articles.length - 1].title, card_url(favourite.card) %></li>
      </ul>
  </div>
<% end %>
