<div class="container">
  <div class="row">
    <div class="card-container d-flex justify-content-center flex-wrap align-items-center">
      <% @cards.each do |card| %>
        <div class="card col-12">
          <a href="<%= card_path(card) %>" class="card-link">
            <div class="card-body">
              <h5 class="card-title"><%= card.primary_keywords %></h5>
              <h6 class="card-subtitle mb-3 text-muted text-center"><%= card.secondary_keywords %></h6>
                <% if card.summaries.last.present? %>
                  <ul class="card-text">
                    <% card.summaries.last.key_points.each do |sentence| %>
                      <li><%= sentence %></li>
                    <% end %>
                  </ul>
                <% end %>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# <% if card.summaries.last.present? %>
                <%# <p class="card-text"><%= card.summaries.last.key_points %>
              <%# <% end %>
