<div class="index-page">
  <div class="top-grey-container mb-3">
    <div class="d-flex flex-column align-items-start justify-content-end h-100">
      <div class="main-content">
        <div class="main-heading"><h1>Hi <%= current_user.first_name %>!</h1></div>
      </div>
        <div class="d-flex align-items-center text-right">
            <%= render 'shared/searchbar' %>
            <%= image_tag "filter.png", class: "filter-icon" %>
      </div>
  </div>
    <div class="wish-button-container my-5">
      <%= button_to new_card_path, method: :get, class: "wish-custom-button" do %>
        Wish for a new topic!
        <%= image_tag "lamp.png", class: "lamp-icon" %>
      <% end %>
    </div>
    <div class="card-container">
      <%= render 'card', locals: { card: @card } %>
    </div>
    <%# <%= link_to 'Create New Card', new_card_path %>
</div>
