<div class="index-page bg-white">
  <%# <div class="pt-5"> %>
    <div class="d-flex flex-column align-items-start justify-content-end h-100">
      <div class="main-content">
        <div class="main-heading primary"><h1>Hi <%= current_user.first_name %>!</h1></div>
      </div>
        <div class="d-flex align-items-end text-right">
            <%= render 'shared/searchbar' %>
            <%= link_to edit_category_path(1) do %>
                <i class="fa-solid fa-sliders"></i>
            <% end %>
        </div>
    </div>
    <div class="text-center">
      <div class="wish-button-container">
        <%= button_to new_card_path, method: :get, class: "wish-custom-button" do %>
          Wish for a new card!
        <% end %>
      </div>
    </div>
    <div class="card-container">
      <%= render 'card', locals: { card: @card } %>
    </div>
</div>
