<div class="index-page">
  <div class="top-grey-container mb-3">
    <div class="d-flex flex-column align-items-start justify-content-end h-100">
      <div class="main-content">
        <div class="main-heading"><h1>Hi <%= current_user.first_name %>!</h1></div>
      </div>
        <div class="d-flex align-items-center text-right">
            <%= render 'shared/searchbar' %>
            <%= link_to edit_category_path(1) do %>
              <%= image_tag "filter.png", class: "filter-icon" %>
            <% end %>
      </div>
  </div>
    <div class="text-center mt-5 mb-3">
      <% if current_user.categories.present? %>
          Topics selected:
          <div class="category-posters d-flex justify-content-equally justify-content-center mb-3">
            <% current_user.categories.each do |category| %>
              <div class="category-tag">
                <%= category.tag %>
              </div>
            <% end %>
          </div>
      <% end %>

      <div class="wish-button-container">
            <%= link_to new_card_path(search_keyword: @search_keyword), class: "wish-custom-button" do %>
              Wish for a new card!
              <%= image_tag "lamp.png", class: "lamp-icon" %>
            <% end %>

     

        <!--   modal if we want to use it in future
        <button class="wish-custom-button"  data-modal-new-card-target="button" data-bs-toggle="modal" data-action="click->modal-new-card#fetch" data-bs-target="#newCard" data-href="<%= new_card_path %>"> Wish for new card! </button>

        <div class="modal fade" id="newCard" tabindex="-1" aria-labelledby="newCardLabel" aria-hidden="true" data-modal-new-card-target="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body" data-modal-new-card-target="modalContent">
                check this out!
              </div>
            </div>

          </div>
        </div>
      </div>
      -->

    </div>
    <div class="card-container">
      <%= render 'card', locals: { card: @card } %>
    </div>
</div>
