<div class="container show-container">
  <div>
    <%= link_to :back, class: "btn" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
  </div>

  <div class="d-flex justify-content-start align-items-center">
    <div >
      <div class="card-title">
        <%= @card.primary_keywords %>
      </div>
    </div>
    <div >
      <div data-controller="favourites-button" data-favourites-button-target="favouritesContainer">
        <% if current_user.favourites.exists?(card: @card) %>
          <%= button_to toggle_favourites_card_path(@card), method: :post, remote: true, class: "favourites-button", data: { action: 'click->favourites-button#toggle', favourites_button_target: 'favourites'} do %>
            <i class="fa-solid fa-heart" style="color: #6d3146; font-size: 30px" data-favourites-button-target="favouriteIcon"></i>
          <% end %>
        <% else %>
          <%= button_to toggle_favourites_card_path(@card), method: :post, remote: true, class: "favourites-button", data: { action: 'click->favourites-button#toggle', favourites_button_target: 'favourites'} do %>
            <i class="fa-regular fa-heart" style="color: #6d3146; font-size: 30px" data-favourites-button-target="favouriteIcon"></i>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="category-posters d-flex justify-content-between">
      <div class="category">
        <% @card.categories.each do |category| %>
          <div class="category-tag">
            <%= category.tag %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-poster">
      <div class="text-right">Posted by: <%= @card.user.first_name %></div>
    </div>
  </div>
  <hr>
  <%# Card content   %>
    <ul>
    <% if @card.summaries.last.present?  %>
      <strong>Key Points</strong>
      <% @card.summaries.last.key_points.each do |key_point| %>
        <li><%= key_point %></li>
      <% end %>
      <br>
      <strong>Key Questions</strong>
       <% @card.summaries.last.key_questions.each do |key_question| %>
        <li><%= key_question %></li>
      <% end %>
    <% end %>
  </ul>

    <div class="news-centre m-2">
      <h5><strong>News Center</strong></h5>
      <% if @news_articles.present? %>
        <% @news_articles.each do |article| %>
          <h6><%= article['title'] %></h6>
          <!-- You can add more information about each article here if needed -->
        <% end %>
      <% else %>
        <p>No news articles available.</p>
      <% end %>
    </div>

  <hr>
  <h4>Comments (0)</h4>

  <%= link_to 'Delete', card_path(@card), class: "btn btn-warning btn-sm m-3", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%#= link_to "", whatsapp_share_url, class: "fab fa-whatsapp" %>
  <%= link_to whatsapp_share_url, target: "_blank" do %>
    <i class="fa-brands fa-whatsapp fa-2xl" style="color: #075e54;"></i>
  <% end %>

</div>
