<div class="container">
  <div>
    <%= link_to :back, class: "btn" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
  </div>

  <% if @key_points.present? %>
    <h3>Key Points:</h3>
    <ul>
      <% @key_points.each do |point| %>
        <li><%= point %></li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to 'Delete', card_path(@card), class: "btn btn-warning btn-sm", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <div data-controller="favourites-button" data-favourites-button-target="favouritesContainer">
    <% if current_user.favourites.exists?(card: @card) %>
      <%= button_to '➖ Remove from Favourites', toggle_favourites_card_path(@card), method: :post, remote: true, class: "btn btn-primary is-favourites", data: { action: 'click->favourites-button#toggle', favourites_button_target: 'favourites'} %>
    <% else %>
      <%= button_to '➕ Add to Favourites', toggle_favourites_card_path(@card), method: :post, remote: true, class: "btn btn-primary", data: { action: 'click->favourites-button#toggle', favourites_button_target: 'favourites'} %>
    <% end %>
  </div>
</div>
