<div class="container show-container" >
  <div>
    <%= link_to :back, class: "btn" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <div >
      <div class="card-title">
        <%= @card.primary_keywords %>
      </div>
    </div>
    <div >
      <div data-controller="favourites-button" data-favourites-button-target="favouritesContainer">
        <% if current_user.favourites.exists?(card: @card) %>
          <%= button_to toggle_favourites_card_path(@card), method: :post, remote: true, class: "favourites-button", data: { action: 'click->favourites-button#toggle', favourites_button_target: 'favourites'} do %>
            <i class="fa-solid fa-heart" style="color: #6d3146; font-size: 30px" data-favourites-button-target="favouriteIcon"></i>
          <% end %>
        <% else %>
          <%= button_to toggle_favourites_card_path(@card), method: :post, remote: true, class: "favourites-button", data: { action: 'click->favourites-button#toggle', favourites_button_target: 'favourites'} do %>
            <i class="fa-regular fa-heart" style="color: #6d3146; font-size: 30px" data-favourites-button-target="favouriteIcon"></i>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="category-posters d-flex justify-content-between">
      <div class="category">
        <% @card.categories.each do |category| %>
          <div class="category-tag">
            <%= category.tag %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-poster">
      <div class="text-right">Posted by: <%= @card.user.first_name %></div>
    </div>
  </div>
  <hr>
  <%# Card content   %>
    <ul>
    <% if @card.summaries.last.present?  %>
      <strong>Key Points</strong>
      <% @card.summaries.last.key_points.each do |key_point| %>
        <li><%= key_point %></li>
      <% end %>
      <br>
      <strong>Key Questions</strong>
      <% @card.summaries.last.key_questions.each do |key_question| %>
        <li><%= key_question %></li>
      <% end %>
    <% end %>
  </ul>

  <%# Image generated from Dall-E %>
  <% if @card.image_url.present? %>
    <div class="text-center mb-3">
      <%= image_tag @card.image_url, class: "img-fluid", style: "max-width: 70%;" %>
    </div>
  <% end %>

    <div class="news-centre m-2 position-relative" data-controller="refresh-news" data-url="<%= refresh_articles_card_path(@card) %>" data-refresh-news-card-id-value="<%= @card.id %>" data-refresh-news-target="link">
      <h5><strong>News Center</strong></h5>
      <button id="refresh-news" data-action="click->refresh-news#refreshArticles" class="refresh-button">Refresh</button>
      <%= render 'refresh' %>
    </div>

    <div class="comments m-2" data-controller="insert-in-comment">
      <h5><strong>Comments</strong></h5>
      <div data-insert-in-comment-target="items">
        <% @card.comments.each do |comment| %>
          <%= render 'cards/comment', comment: comment %>
        <% end %>
      </div>

        <%= render partial: 'commentform', locals: { card: @card, comment: Comment.new} %>

    </div>


  <%= link_to 'Delete', card_path(@card), class: "btn btn-warning btn-sm m-3", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%#= link_to "", whatsapp_share_url, class: "fab fa-whatsapp" %>
  <%= link_to whatsapp_share_url, target: "_blank" do %>
    <i class="fa-brands fa-whatsapp fa-2xl" style="color: #075e54;"></i>
  <% end %>
</div>
