<div class="page-container">
  <div class="logo-container text-center pt-5">
    <img src="<%= asset_path('infogenie-logofavicon-black 3.png') %>" alt="logo" style="width: 120px;">
    <h2>Please Select Your Topic!</h2>
  </div>
  <div class="category-container" data-controller="selected-topics" >
    <%= form_for(current_user, url: category_path, method: :put) do |f| %>

      <div class="category-grid"  data-selected-topics-target="container">
        <% @categories.each do |category| %>

          <div class="category-card <%= "category-selected" if current_user.categories.include?(category) %>" data-action="click->selected-topics#toggleCategory", data-selected-topics-target="card", data-category-id="<%= category.id %>">

              <%= category.tag %>
              <input type="hidden" id="category_selected_<%= category.id %>" name="user[category_ids][]"  value="<%= category.id %>">
          </div>
        <% end %>
      </div>
  </div>
      <div class="form-group mt-4 text-center">
        <%= f.submit 'Save Preference', class: 'btn btn-dark rounded' %>
      </div>
    <% end %>

</div>
