<!DOCTYPE html>
<html>
  <head>
    <title>Infogenie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.infogenie.me" />
    <meta property="twitter:title" content="Infogenie" />
    <meta property="twitter:description" content="Your network is your networth." />
    <meta property="twitter:image" content="infogenie-logofavicon-black 3.png" />
    <meta property="og:title" content="Infogenie">
    <meta property="og:description" content="Your network is your networth.">
    <meta property="og:image" content="infogenie-logofavicon-black 3.png">
    <meta property="og:url" content="https://www.infogenie.me">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="infogenie">

    <%= favicon_link_tag "infogenielogo.png", rel: "icon", type: "image/png" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/side_navbar' %>
    <%= render 'shared/bottom_navbar' %>

    <%= render "shared/flashes" %>

      <%= yield %>

  </body>
</html>
